<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <title>by Maha Tanveer</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type" 
content="text/html; charset=ISO-8859-1">
  <link href="~/content/style.css" rel="stylesheet" 
type="text/css">
</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<div class="header-img">
<h1>Best Quotes</h1>
<p>online repository of user contributed quotes</p>
</div>
<div class="menu">

<ul>
  <li><a href="/Home/Index">Home</a></li>
  
   
        
  <li><a href="/Login/Login">Login</a></li>
  <li><a href="/Signup/Signup">SignUp</a></li>
  <li><a href="/SearchByCatogary/Search1">Quotes Images</a></li>
  <li><a href="/Contact_us/Contact_us">Contact Us</a></li>
    </ul>
    </div>
    </div>
    
    @RenderBody()
    <div class="footer">
<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a 
href="http://www.htmltemplates.net">
<img src="~/images/footnote.gif" class="copyright" alt="html templates"></a>
<p>&copy; Copyright 2010. Designed by <a 
target="_blank" 
href="http://www.htmltemplates.net">htmltemplates.n
et</a>
<!--In partnership with--><a 
href="http://websitetemplates.net">
<img src="~/images/footnote.gif" class="copyright" 
alt="website templates"></a>
<!--DO NOT Remove The Footer Links-->
</p>
</div>
</div>
</div>

</body></html>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
